@use "eye";
$light-blue-color: rgba(84, 170, 240, 0.2);
$slider-left-track-color: rgb(0, 140, 255);
$slider-right-track-color: rgb(132, 132, 132);

@for $i from 0 to 101 {
    input[type=range].slider-fill-#{$i}::-webkit-slider-runnable-track {
        $p : $i + 1;
        background-image: linear-gradient(to right, $slider-left-track-color 0 #{$i + 0%}, $slider-right-track-color #{$i + 0%});
    }
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    min-width: 97vw;
    width: 97vw;
    min-height: 97vh;
    height: max-content;
    padding: 0;
    > canvas.main-background {
        display: block;
        position: absolute;
        opacity: .3;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }
    > h1 {
        font-weight: bold;
    }
    #password-output {
        display: flex;
        color: #0000;
        align-content: center;
        background-image: radial-gradient(rgba(241, 241, 241, .6), $light-blue-color);
        padding: .25em .5em;
        width: 50%;
        min-width: 20%;
        height: 2em;
        border-radius: .5em;
        border: 2px solid black;
        &:hover {
            color:#000;
        }
    }
    
    .eye-warning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    form {
        display: flex;
        //outline: 4px solid red;
        flex-direction: column;
        width: 90%;
        min-height: 300px;
        height: max-content;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        overflow: visible;
        //> * * {
            //background-image: radial-gradient(rgba(206, 206, 206, .6), rgba(241, 241, 241, .6));
        //}
        .input-group {
            background-color: #0000;
            * {
                background-color: rgba(192, 192, 192, 0.219);
            }
            span {
                background-color: rgb(220, 220, 220);
            }
        }
        background-color: #0000;
        input#password-length-field,
        button {
            display: flex;
            border: 2px solid black;
            width: 5em;
            height: 5em;
            background-image: conic-gradient(#0001, #0001);
            &::after {
                content: attr(data-length);
                display: flex;
                background-color: #0000;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: 2em;
            }
            &:not(#password-length-field):hover {
                animation: radial-loading-hover-animation 1s linear 1 both;
                //background-image: conic-gradient(#0005 0 50%, #0005 50% 100%);
            }
            &#password-length-field {
                -webkit-appearance: textfield;
                background-color: $light-blue-color;
                border-radius: .3em;
                padding: 0 .2em;
                width: 2.5em;
                height: 2.5em;
                font-size: 2.5em;
                &::-webkit-inner-spin-button {
                    width: .5em;
                }
            }
        }
        button[type=submit] {
            height: 4em;
            width: 25%;
        }
        button {
            position: relative;
            padding: 0;
            outline: 2px solid black;
            height: 4em;
            width: 4em;
            svg {
                position: absolute;
                top: 25%;
                left: 25%;
            }
        }
        #password-number-symbols-setttings {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: max-content;
            div.input-group {
                margin: 0;
                position: relative;
                height: 2.5em;
                width: 40%;
                display: inline-flex;
                
                align-self: center;
                > * {
                    height: 2.5em;
                    background-image: linear-gradient($light-blue-color, $light-blue-color);
                    border: 2px solid rgb(79, 79, 79);
                }
                span {
                    background-image: none;
                }
            }
        }
        #password-symbols-settings {
            position: relative;
            //@include get-width(max-content);
            width: max-content;
            margin-left: 0;
            margin-right: 0;
            align-self: center;
            > .btn {
                display: flex;
                position: relative;
                padding: 5px;
                width: 65px;
                height: max-content;
                min-height: 80px;
                background-color: $light-blue-color;
                border: 3px solid rgb(70, 70, 70);
                input[type=checkbox] {
                    display: block;
                    width: 25px;
                    height: 25px;
                }

                &:hover {
                    background-color: #0004;
                    animation: none;
                }
            }
            
        }
    }
}
@keyframes radial-loading-hover-animation {
    @for $i from 0% to 101% {
        #{$i} {
            background-image: conic-gradient(#0005 0 $i, #0001 $i 100%);
        }
    }
}